<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="broken-parts" value="https://pkgs.dev.azure.com/curium/0329093f-bb7c-41c0-9e4c-893f37483900/_packaging/broken-parts/nuget/v3/index.json" />
    <add key="broken-secrets" value="https://pkgs.dev.azure.com/curium/e773cfda-9c07-49fb-882c-1fcd1e508358/_packaging/broken-secrets/nuget/v3/index.json" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)"  />
  </activePackageSource>
</configuration>
